@charset "utf-8";
/* ExtJS-WE-Styles */


.qtips_base {
	background-color: #00ff00;
}

/* menu */
.top_menu {
	background: #efefef url(/webEdition/images/java_menu/background.gif) repeat-x;
}

.top_menu_item .x-btn-inner {
    font-size: 13px;
	font-weight: bold;
}

.vtab .x-tab-inner {
	font-weight: normal;
	color: red;
}

.top_menu_icn_home {
	background-image: url('/webEdition/images/navigation/home.gif') !important;
}

.top_menu_icn_reload {
	background-image: url('/webEdition/images/navigation/reload.gif') !important;
}

.top_menu_icn_next {
	background-image: url('/webEdition/images/navigation/next.gif') !important;
}

.top_menu_icn_back {
	background-image: url('/webEdition/images/navigation/back.gif') !important;
}

/* tree */
.treepanel .x-panel-body {
	background-color: #F3F7FF !important;
	/*border: 1px solid black;*/
	padding: 2px 0 0 6px;
}

.x-grid-cell-inner-treecolumn {
	background-color: #F3F7FF !important;
	/*padding: 0 0 0 6px;*/
	height: 19px;
}

.x-tree-node-text {
	font-size: 10px !important;
	cursor: pointer;
}

.x-tree-icon {
	cursor: pointer;
}

.tree_item_bold {
	font-weight: bold;
}

.tree_item_notpublished {
	color: red;
}

.tree_item_changed {
	color: #3366CC;
}


.tree_item_arrowdown {
	background-image: url('/webEdition/images/tree/icons/arrowdown.gif') !important;
}

.tree_item_arrowup {
	background-image: url('/webEdition/images/tree/icons/arrowup.gif') !important;
}

.tree_item_audio {
	background-image: url('/webEdition/images/tree/icons/audio.gif') !important;
}

.tree_item_banner {
	background-image: url('/webEdition/images/tree/icons/banner.gif') !important;
}

.tree_item_banner_folder {
	background-image: url('/webEdition/images/tree/icons/banner_folder.gif') !important; 
}

.x-grid-tree-node-expanded .tree_item_banner_folder {
	background-image: url('/webEdition/images/tree/icons/banner_folderopen.gif') !important;
}


.tree_item_cat {
	background-image: url('/webEdition/images/tree/icons/cat.gif') !important;
}

.tree_item_class_folder {
	background-image: url('/webEdition/images/tree/icons/class_folder.gif') !important; 
}

.x-grid-tree-node-expanded .tree_item_class_folder {
	background-image: url('/webEdition/images/tree/icons/class_folderopen.gif') !important;
}

.tree_item_css {
	background-image: url('/webEdition/images/tree/icons/css.gif') !important;
}
.tree_item_customer {
	background-image: url('/webEdition/images/tree/icons/customer.gif') !important;
}
.tree_item_excel {
	background-image: url('/webEdition/images/tree/icons/excel.gif') !important;
}

.tree_item_film {
	background-image: url('/webEdition/images/tree/icons/film.gif') !important;
}

.tree_item_flashmovie {
	background-image: url('/webEdition/images/tree/icons/flashmovie.gif') !important;
}

.tree_item_folder {
	background-image: url('/webEdition/images/tree/icons/folder.gif') !important; 
}

.x-grid-tree-node-expanded .tree_item_folder {
	background-image: url('/webEdition/images/tree/icons/folderopen.gif') !important;
}

.tree_item_htaccess {
	background-image: url('/webEdition/images/tree/icons/htaccess.gif') !important;
}

.tree_item_html {
	background-image: url('/webEdition/images/tree/icons/html.gif') !important;
}

.tree_item_icon_cockpit {
	background-image: url('/webEdition/images/tree/icons/icon_cockpit.gif') !important;
}

.tree_item_image {
	background-image: url('/webEdition/images/tree/icons/image.gif') !important;
}

.tree_item_javascript {
	background-image: url('/webEdition/images/tree/icons/javascript.gif') !important;
}

.tree_item_link {
	background-image: url('/webEdition/images/tree/icons/link.gif') !important;
}

.tree_item_msg_draft_folder {
	background-image: url('/webEdition/images/tree/icons/msg_draft_folder.gif') !important;
}

.x-grid-tree-node-expanded .tree_item_msg_draft_folder {
	background-image: url('/webEdition/images/tree/icons/msg_draft_folderopen.gif') !important;
}

.tree_item_msg_folder {
	background-image: url('/webEdition/images/tree/icons/msg_folder.gif') !important;
}

.x-grid-tree-node-expanded .tree_item_msg_folder {
	background-image: url('/webEdition/images/tree/icons/msg_folderopen.gif') !important;
}

.tree_item_msg_in_folder {
	background-image: url('/webEdition/images/tree/icons/msg_in_folder.gif') !important;
}

.x-grid-tree-node-expanded .tree_item_msg_in_folder {
	background-image: url('/webEdition/images/tree/icons/msg_in_folderopen.gif') !important;
}

.tree_item_msg_sent_folder {
	background-image: url('/webEdition/images/tree/icons/msg_sent_folder.gif') !important;
}

.x-grid-tree-node-expanded .tree_item_msg_sent_folder {
	background-image: url('/webEdition/images/tree/icons/msg_sent_folderopen.gif') !important;
}

.tree_item_newsletter {
	background-image: url('/webEdition/images/tree/icons/newsletter.gif') !important;
}

.tree_item_none_webedition {
	background-image: url('/webEdition/images/tree/icons/none_webedition.gif') !important;
}

.tree_item_object {
	background-image: url('/webEdition/images/tree/icons/object.gif') !important;
}

.tree_item_objectFile {
	background-image: url('/webEdition/images/tree/icons/objectFile.gif') !important;
}

.tree_item_odg {
	background-image: url('/webEdition/images/tree/icons/odg.gif') !important;
}

.tree_item_order {
	background-image: url('/webEdition/images/tree/icons/order.gif') !important;
}

.tree_item_pdf {
	background-image: url('/webEdition/images/tree/icons/pdf.gif') !important;
}

.tree_item_powerpoint {
	background-image: url('/webEdition/images/tree/icons/powerpoint.gif') !important;
}

.tree_item_prog {
	background-image: url('/webEdition/images/tree/icons/prog.gif') !important;
}

.tree_item_quicktime {
	background-image: url('/webEdition/images/tree/icons/quicktime.gif') !important;
}

.tree_item_todo_done_folder {
	background-image: url('/webEdition/images/tree/icons/todo_done_folder.gif') !important;
}

.x-grid-tree-node-expanded .tree_item_todo_done_folder {
	background-image: url('/webEdition/images/tree/icons/todo_done_folderopen.gif') !important;
}

.tree_item_todo_folder {
	background-image: url('/webEdition/images/tree/icons/todo_folder.gif') !important;
}

.x-grid-tree-node-expanded .tree_item_todo_folder {
	background-image: url('/webEdition/images/tree/icons/todo_folderopen.gif') !important;
}

.tree_item_todo_in_folder {
	background-image: url('/webEdition/images/tree/icons/todo_in_folder.gif') !important;
}

.x-grid-tree-node-expanded .tree_item_todo_in_folder {
	background-image: url('/webEdition/images/tree/icons/todo_in_folderopen.gif') !important;
}

.tree_item_todo_reject_folder {
	background-image: url('/webEdition/images/tree/icons/todo_reject_folder.gif') !important;
}

.x-grid-tree-node-expanded .tree_ietm_todo_reject_folder {
	background-image: url('/webEdition/images/tree/icons/todo_reject_folderopen.gif') !important;
}

.tree_item_user {
	background-image: url('/webEdition/images/tree/icons/user.gif') !important;
}

.tree_item_user_alias {
	background-image: url('/webEdition/images/tree/icons/user_alias.gif') !important;
}

.tree_item_usergroup {
	background-image: url('/webEdition/images/tree/icons/usergroup.gif') !important;
}

.x-grid-tree-node-expanded .tree_item_usergroup {
	background-image: url('/webEdition/images/tree/icons/usergroupopen.gif') !important;
}

.tree_item_we_dokument {
	background-image: url('/webEdition/images/tree/icons/we_dokument.gif') !important;
}

.tree_item_we_template {
	background-image: url('/webEdition/images/tree/icons/we_template.gif') !important;
}

.tree_item_word {
	background-image: url('/webEdition/images/tree/icons/word.gif') !important;
}

.tree_item_workflow_folder {
	background-image: url('/webEdition/images/tree/icons/workflow_folder.gif') !important;
}

.x-grid-tree-node-expanded .tree_item_workflow_folder {
	background-image: url('/webEdition/images/tree/icons/workflow_folderopen.gif') !important;
}

.tree_item_zip {
	background-image: url('/webEdition/images/tree/icons/zip.gif') !important;
}

/* maintree selection and checked */

.x-tree-checkbox-checked ~ span{
	/*text-decoration: line-through;*/
	/* background-color: #D4DBFA !important; */
}


.tree_standard_selected .x-tree-node-text{
	background-color: #D4DBFA;
}

.tree_noselection_selected .x-tree-node-text{
	/*background-color: none;*/
	background-color: #dce0ca;
}

/* trees and grids general modifications */
.x-grid-row-before-focused .x-grid-td,
.x-grid-row-before-selected .x-grid-td,
.x-grid-row-focused .x-grid-td {
	border: none;
}

.x-tip-default{
	-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;border-radius:3px;padding:2px 2px 2px 2px;border-width:1px;border-style:solid;
	background-color:#EEEEEE
	/*background-image: url('/webEdition/images/button/btn_disabled_middle.gif') !important;*/
}
.x-tip-default-mc {
	background-color:#EEEEEE;
	/*background-image: url('/webEdition/images/button/btn_disabled_middle.gif') !important;*/
}

/* toolbar */
.main-toolbar {
	background-color: HoneyDew ;
}


/* tabs: add selector for different tabpanels: eg use xtype as id */
.x-tab .x-tab-inner { font-weight: normal; color:black; }
.x-tab-over .x-tab-inner { font-weight: normal; color:black; }
.x-tab-active .x-tab-inner { font-weight:bold; color:black; }

.x-grid-no-row-lines .x-grid-row-focused .x-grid-cell-inner {
	padding-top: 3px;
}

/* Ext.ux.ScrollerMenu */
.x-tab-tabmenu-right {
	background: transparent url('images/tab-scroller-menu.gif') no-repeat 0 0;
	width:18px;
	height: 20px;
	cursor:pointer;
	zoom: 1;
	z-index: 6;
	float: right;
}
.x-tab-tabmenu-over {
	background-position: -18px 0;
}
.x-tab-tabmenu-disabled {
	background-position: 0 0;
	opacity:.5;
	-moz-opacity:.5;
	filter:alpha(opacity=50);
	cursor:default;
}

/* editor */
.we_editor_head {
	background-color: #DDE7F1;
}

.we_editor_footer {
	background-color:#f0f0f0; background-image: url('/webEdition/images/edit/editfooterback.gif');background-repeat:repeat; height: 40px;
}