/* This is a global config file for all scss files*/

$menuHeight: 32px;

$vtabWidth:24px;
$vtabHeight:90px;
/*main editable elements tabs - files*/
$defaultEditorTabHeight:24px;
$editorFooterHeight:40px;