/* This is a global config file for all scss files*/

$menuHeight: 32px;

$vtabWidth:40px;
$vtabHeight:100px;
/*main editable elements tabs - files*/
$defaultEditorTabHeight:24px;
$editorFooterHeight:53px;
$weFont: liberation_sansregular,sans-serif;
$weFontBold: liberation_sansbold,sans-serif;

$smallfont: 11px;
$medfont:12px;
$bigfont:14px;

$fafontSmall:7px;
$fafontMed:9px;
$fafontBig:14px;

$useOldStyle:false;
